---
import { getSecret } from "astro:env/server";
import Layout from "../layouts/Layout.astro";
const token = getSecret("clientId");
---

<Layout>
  <h1 class="">Shadow Dream Ilusion</h1>

  <div
    data-widget="m-connect"
    data-grant-type="token"
    data-client-id={token}
    data-app-name="tuukz"
    data-network="1">
  </div>
</Layout>
